token=~/.config/op/service-accounts/sa-hamsterdan-mac.token
if [ -f "$token" ]; then
  export OP_SERVICE_ACCOUNT_TOKEN=$(cat "$token")
  watch_file env.tpl
  eval "$(op inject -i env.tpl | sed -E 's/^([A-Za-z_][A-Za-z0-9_]*)=/export \1=/')"
fi
