token=~/.config/op/service-accounts/sa-hamsterdan-dev-mac.token
if [ -f "$token" ]; then
  export OP_SERVICE_ACCOUNT_TOKEN=$(cat "$token")
fi

watch_file env-dev.tpl
if [ ! -f .env ] || [ env-dev.tpl -nt .env ]; then
  op inject --force -i env-dev.tpl -o .env && chmod 600 .env
fi
dotenv .env
